* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
}

.title {
  font-size: 48px;
  letter-spacing: 5px;
  /* You actually don't need this */
  text-transform: uppercase;
  text-align: center;

  margin: 25px 0 15px;
}

.loader {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.loader__img {
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 25%;
}

.gallery img {
  width: 100%;
}

@media screen and (max-width: 678px) {
  .title {
    font-size: 32px;
  }

  .gallery {
    margin: 10px 20%;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 20px;
  }

  .gallery {
    margin: 10px 15%;
    gap: 5px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    margin: 25px 10px 15px;
  }

  .gallery {
    margin: 10px;
    gap: 5px;
  }
}
