* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #1c1d22;
}

/* Positions */
.toast-container.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}
.toast-container.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}
.toast-container.top-center {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toast-container.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.toast-container.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.toast-container.bottom-center {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 400px;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
}

.toast.remove {
  z-index: 999;
}

/* Dark theme */
.toast--dark {
  --background-color: #000;
  --text-color: #fff;
}
.toast--dark.toast--success {
  --progress-color: #07bc0c;
  --icon-color: #07bc0c;
}
.toast--dark.toast--info {
  --progress-color: #3498db;
  --icon-color: #3498db;
}
.toast--dark.toast--error {
  --progress-color: #e74c3c;
  --icon-color: #e74c3c;
}
.toast--dark.toast--warning {
  --progress-color: #f1c40f;
  --icon-color: #f1c40f;
}
/* Light theme */
.toast--light {
  --background-color: #fff;
  --text-color: #000;
}
.toast--light.toast--success {
  --progress-color: #07bc0c;
  --icon-color: #07bc0c;
}
.toast--light.toast--info {
  --progress-color: #3498db;
  --icon-color: #3498db;
}
.toast--light.toast--error {
  --progress-color: #e74c3c;
  --icon-color: #e74c3c;
}
.toast--light.toast--warning {
  --progress-color: #f1c40f;
  --icon-color: #f1c40f;
}
/* Colored theme */
.toast--colored {
  --text-color: #fff;
  --progress-color: rgba(255, 255, 255, 0.7);
  --icon-color: #fff;
}
.toast--colored.toast--success {
  --background-color: #07bc0c;
}
.toast--colored.toast--info {
  --background-color: #3498db;
}
.toast--colored.toast--error {
  --background-color: #e74c3c;
}
.toast--colored.toast--warning {
  --background-color: #f1c40f;
}

.toast__icon {
  align-self: flex-start;
  color: var(--icon-color);
  font-size: 20px;
}
.toast__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.toast__close-btn:hover {
  opacity: 1;
}

.toast__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--progress-color);
  height: 3px;
  width: 100%;
  visibility: hidden;
}
